/* Loading of the fonts locally */
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: Bold;
}

@font-face {
  font-family: Mukta;
  src: url(/fonts/Mukta-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Mukta;
  src: url(/fonts/Mukta-Bold.ttf) format(truetype);
  font-weight: Bold;
}
/* Font ending */

/* Default Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 65%;
}

/* End of Default Style*/
