/* Loading of the fonts locally */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Mukta;
  src: url(../fonts/Mukta-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Mukta;
  src: url(../fonts/Mukta-Bold.ttf) format(truetype);
  font-weight: bold;
}
@font-face {
  font-family: Mooli;
  src: url(../fonts/Mooli-Regular.ttf) format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: Croissant one;
  src: url(../fonts/CroissantOne-Regular.ttf) format(truetype);
  font-weight: normal;
}
/* Font ending */

/* Default Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 65%;
}
/* End of Default Style*/

/* Scrollbar */
body::-webkit-scrollbar {
  width: 1.5rem;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#8430e1, #bb5ef5);
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* End of Scrollbar */

/* Container */
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem;
  transition: all 0.3s;
}

.sticky {
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 1rem 10rem rgba(130, 162, 235, 0.6);
}

/* End of Navigation */

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
}

.logo span:nth-child(1) {
  font-size: 3rem;
  font-family: "Mooli", cursive;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.logo span:nth-child(1) span {
  font-size: 1.8rem;
  transform: translateY(-0.8rem);
  display: inline-block;
}

.logo span:nth-child(2) {
  font-family: "Croissant One", cursive;
  font-size: 1.5rem;
  text-align: right;
  color: #ddd;
  letter-spacing: 0.1rem;
  display: inline-block;
  transform: translate(-0.12rem, -1.3rem);
}
.logo span {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.sticky .logo span {
  color: #092627;
  text-shadow: none;
}

.multi-page-nav .logo span {
  color: #092627;
  text-shadow: none;
}

/* End of Logo */

/* Nav items */
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.2);
}

.sticky .nav-link {
  color: #092627;
  text-shadow: none;
}

.multi-page-nav .nav-link {
  color: #092627;
  text-shadow: none;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  letter-spacing: 0.1rem;
  color: #f88344;
  text-transform: uppercase;
  transition: all 0.3s;
}

.multi-page-nav .nav-items .nav-btn {
  background: linear-gradient(to right, #ff45b9, #ff3598);
  box-shadow: none;
  color: #fff;
}
.sticky .nav-btn {
  background: linear-gradient(to right, #ff45b9, #ff3598);
  box-shadow: none;
  color: #fff;
}

.nav-btn:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
}

/* End of Nav items */

/* Header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* End of Header */

/* Banner */

.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 5;
}

.banner h1 {
  font-family: "Mooli", cursive;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}

.banner h3 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin: 0 0 3rem 1rem;
}

.banner button {
  background: linear-gradient(to right, #aa3fec, #8340ea);
  width: 15rem;
  height: 5rem;
  font-size: 1.3rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 3rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.banner button:hover {
  transform: translateY(-0.2rem);
}
/* End of Banner */

/* Backgrounds */
.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(to left, transparent, #4400c5, #4400ab);
  top: -90%;
  left: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.9;
  z-index: 1;
}

.bg-1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 60%, #ff26ac, #f724db);
  top: -40%;
  right: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 70%, #ca5995, #fe945a);
  top: -60%;
  right: 10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
  box-shadow: 7rem 4rem 6rem rgba(0, 0, 0, 0.4);
}
/* End of Backgrounds */

/* Services */
.services {
  width: 100%;
  height: 170vh;
  background-color: #fff;
  position: relative;
}

.services-wrapper {
  width: 60%;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(130, 162, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.services-wrapper h1 {
  font-family: "Mooli", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #393453;
  letter-spacing: 0.1rem;
  margin-bottom: 8rem;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  width: 28rem;
  height: 55rem;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service i {
  width: 10rem;
  height: 10rem;
  font-size: 4rem;
  background-color: #fff;
  box-shadow: 0 1rem 4rem rgba(75, 119, 225, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.service:nth-child(1) i {
  background: linear-gradient(#fff, #1259dd 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service:nth-child(2) i {
  background: linear-gradient(#fff, #fa751c 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service:nth-child(3) i {
  background: linear-gradient(#fff, #3193ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service:nth-child(4) i {
  background: linear-gradient(#fff, #31dca1 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service:nth-child(5) i {
  background: linear-gradient(#fff, #4400ab 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service:nth-child(6) i {
  background: linear-gradient(#fff, #ff4800 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service h3 {
  font-family: "Croissant One", cursive;
  font-size: 2rem;
  color: #5e728f;
  margin: 2rem 0;
}

.service p {
  font-size: 1.6rem;
  text-align: center;
  color: #889cb9;
}

.service-bg-1 {
  width: 80rem;
  height: 80rem;
  background: linear-gradient(to right, transparent, transparent, #ff43a7);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 10%;
  opacity: 0.3;
}

.service-bg-2 {
  width: 80rem;
  height: 80rem;
  background: linear-gradient(to left, transparent, transparent, #74b5ff);
  border-radius: 15rem;
  position: absolute;
  bottom: 5rem;
  left: 12rem;
  opacity: 0.3;
  transform: rotate(-10deg);
}
/* End of Services */

/* producst */
.products {
  width: 100%;
  height: 100%;
  padding: 25rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products h1 {
  font-family: "Mooli", cursive;
  font-size: 6rem;
  margin-bottom: 4rem;
  color: #ff4800;
}
.products p {
  width: 90rem;
  text-align: center;
  font-size: 2rem;
  color: #5e728f;
  margin-bottom: 4rem;
}

.filter-nav {
  width: 90%;
  height: 10rem;
  background-color: #fff;
  box-shadow: 0 2rem 8rem rgba(130, 168, 235, 0.2);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}

.filter-nav-link {
  width: 14rem;
  height: 5rem;
  background-color: #f2f4f5;
  border-radius: 5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #919daa;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}
.filter-nav-link:hover {
  background-color: #dadfea;
  transform: translateY(-0.1rem);
}

.active {
  background-color: #ff4c01;
  color: #fff;
}
.active:hover {
  background-color: #fc611f;
}
.products-list {
  width: 70%;
  height: 1000%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  width: 33rem;
  height: 33rem;
  position: relative;
  margin: 5rem;
  cursor: pointer;
}

.product.hide {
  display: none;
}
.product img {
  position: absolute;
  object-fit: cover;
  top: 50%;
}

.product img:nth-child(1) {
  width: 22rem;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.product img:nth-child(2) {
  width: 20rem;
  height: 30rem;
  left: -5%;
  transform: translateY(-50%);
  box-shadow: 0 3rem 8rem rgba(130, 162, 235, 0.9);
  z-index: 1;
}

.product img:nth-child(3) {
  width: 100%;
  height: 70%;
  right: -10%;
  transform: translateY(-50%);
  box-shadow: 0 3rem 8rem rgba(130, 162, 235, 0.9);
}
/* End of Products */

/* Templates */
.templates {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #8430e1, #8430ea, #4c0c9b);
  position: relative;
}

.templates::before {
  content: "";
  width: 80rem;
  height: 80rem;
  background: linear-gradient(to bottom, transparent, #8430ea, #8430ea);
  z-index: 4;
  position: absolute;
  bottom: -5%;
  right: 10%;
  filter: blur(7rem);
}

.template-left {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25rem 10rem 0 10rem;
}

.template-left h1 {
  font-family: "Mooli", cursive;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  color: #fff;
}

.template-left p {
  width: 60rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #e2e2e2;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 7rem;
}

.template-btn {
  width: 30rem;
  height: 6rem;
  border: none;
  border-radius: 3rem;
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #aa3fec;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.template-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.template-right img {
  position: absolute;
  border-radius: 1rem;
}

.template-right img:nth-child(1) {
  width: 40rem;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: 0 2rem 7rem rrgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.template-right img:nth-child(2) {
  width: 20rem;
  top: 20%;
  left: 18%;
  z-index: 1;
  box-shadow: 0 1rem 8rem rrgba(0, 0, 0, 0.6);
}

.template-right img:nth-child(3) {
  width: 70rem;
  top: 22%;
  right: 5%;
  box-shadow: 0 2rem 8rem rrgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
.play-button {
  position: absolute;
  top: 37%;
  left: 23%;
  z-index: 5;
}

.play-btn {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.3s;
}
.play-btn:hover {
  transform: scale(1.2);
}

.play-btn::before {
  content: "";
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.3);
}
.play-btn:hover::before {
  transform: translate(-50%, -50%) scale(0.9);
}

.play-btn i {
  font-size: 7rem;
  color: #20252c;
}

/* Video */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(227, 242, 253, 0.9);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.video-container.show-video {
  opacity: 1;
  visibility: visible;
}

.video {
  width: 90rem;
  height: auto;
  position: relative;
}

.x-btn i {
  position: absolute;
  top: -6%;
  right: -2%;
  font-size: 2.2rem;
  cursor: pointer;
}

.controls-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5.5rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.video-container.show-controls .controls-wrapper {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.video-timeline {
  position: absolute;
  width: 100%;
  height: 0.7rem;
  cursor: pointer;
}

.progress-area {
  height: 0.3rem;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.progress-area span {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  font-size: 1.3rem;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #2289ff;
  position: relative;
}

.progress-bar::before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  background-color: #2289ff;
  position: absolute;
  top: 50%;
  right: -1.3rem;
  transform: translateY(-50%);
  border-radius: 50%;
}
.progress-area span,
.progress-bar::before {
  display: none;
}

.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-bar::before {
  display: block;
}
.video-controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
}

.options {
  display: flex;
  width: calc(100% / 3);
  align-items: center;
}

.options i,
.options span {
  width: 100%;
  height: 100%;
  line-height: 4rem;
}

.options:nth-child(2) {
  justify-content: center;
}
.options:nth-child(3) {
  justify-content: flex-end;
}

.options button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.options i {
  font-size: 1.9rem;
}

.options input {
  width: 7rem;
  height: 0.4rem;
  margin-right: 1rem;
}

.video-timer span {
  /* font-size: 1.3rem; */
  color: #fff;
}

.playback-content {
  position: relative;
}

.speed-options {
  width: 9rem;
  position: absolute;
  bottom: 4rem;
  left: -4rem;
  background-color: #fff;
  border-radius: 0.4rem;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.15s ease;
  z-index: 20;
}

.speed-options.show {
  opacity: 1;
  visibility: visible;
}

.speed-options div {
  font-size: 1.4rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  cursor: pointer;
}

.active-option {
  background-color: #2289ff;
  color: #fff;
}

video {
  width: 100%;
  height: 100%;
  box-shadow: 0 1rem 10rem rgba(20, 52, 129, 0.7);
}

/* End of Video */
/* End of Templates */

/* Subscribe */
.subscribe {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #8430ea, #8340ea, #4c0c9b);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 50rem;
}

.subscribe-wrapper {
  width: 80rem;
  height: 50rem;
  background-color: #231d34;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  transform-style: preserve-3d;
}

.subscribe-icon span {
  font-size: 10rem;
  color: #e03a5b;
}

.subscribe-wrapper h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #aaa;
  margin-top: -5rem;
}

.subscribe-wrapper p {
  font-size: 1.8rem;
  font-weight: 300;
  color: #999;
  margin-top: -5rem;
}

.subscribe-input-group {
  width: 50rem;
  height: 5.5rem;
  position: relative;
}

.subscribe-input-group input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1629;
  font-size: 1.6rem;
  font-weight: 300;
  color: #a0c5fd;
  border: none;
  border-radius: 5rem;
  padding: 1rem 1rem 1rem 3rem;
}

.subscribe-input-group input::placeholder {
  font-size: 1.6rem;
  color: #a0c5fd;
}

.subscribe-input-group button {
  width: 15rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 5rem;
  background-color: #644def;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
}

.subscribe-shadow {
  width: 80%;
  height: 12rem;
  background-color: #1b1629;
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%) rotateX(70deg);
  border-radius: 30%;
  filter: blur(3rem);
  opacity: 0.7;
}
/* End of Subscribe */

/* Footer */
footer {
  width: 100%;
  height: 60vh;
  padding: 10rem 0 3rem 0;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-social-media {
  width: 30%;
}

.footer-items {
  display: flex;
  flex-direction: column;
}
.footer-items h3 {
  font-family: "Mooli", cursive;
  font-size: 2.5rem;
  color: #007aaa;
  margin-bottom: 2rem;
}

.icons i {
  font-size: 2.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

.icons i:nth-child(1) {
  color: #187ff2;
}
.icons i:nth-child(2) {
  color: #c32aa3;
}
.icons i:nth-child(3) {
  color: #0a66c2;
}
.icons i:nth-child(4) {
  color: #1d1af2;
}
.icons i:nth-child(5) {
  color: #bd081c;
}
.icons i:nth-child(6) {
  color: #ea4c89;
}
.icons i:nth-child(7) {
  color: #ff0000;
}

.footer-items a {
  font-size: 1.8rem;
  color: #394353;
  margin-bottom: 1.3rem;
}
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.2rem solid rgba(0, 122, 170, 0.2);
  padding-top: 1.5rem;
}

.footer-bottom a {
  font-size: 2rem;
  font-family: "Croissant One", cursive;
  color: #007aaa;
}

/* End of Footer */
/* End of Container */
